.topo{
    margin: auto;
}

.fundo{
    background-color: #EEF2F5;
    width: 100%;
    height: 100%;
    position: relative;
}

.lista  {
    width: 70%; 
    margin: auto; 
    background: white;

    margin-bottom: 40px;

    z-index: 1000;
}

ion-toolbar {
    height: 90px;
    --background: #334E54;
    position: relative;
    z-index: 1;
}

ion-title{
    color: white;
}

.fab{
    margin-top: 10px;
    margin-right: 10px;
}